:root {
  --blue1: #1c1e24;
  --blue2: #6189fa;
  --blue3: #24262d;
  --blue4: #213359;
  --blue5: #3e66f9;
  --white1: #d3d6da;
  --purple1: #b791fb;
  --orange1: #f08430;
  --blue6: #57ccee;

  --paradise-pink: #ef476fff;
  --orange-yellow-crayola: #ffd166ff;
  --caribbean-green: #06d6a0ff;
  --blue-ncs: #118ab2ff;
  --midnight-green-eagle-green: #073b4cff;

  --navy-blue: #03045eff;
  --dark-cornflower-blue: #023e8aff;
  --star-command-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --cerulean-crayola: #00b4d8ff;
  --sky-blue-crayola: #48cae4ff;
  --sky-blue-crayola-2: #90e0efff;
  --blizzard-blue: #ade8f4ff;
  --powder-blue: #caf0f8ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  background: var(--white1) !important;
  height: 100vh;
}

#id {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginForm {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
