.IdCard {
  position: relative;
  /* top: 50%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: left;
  border: grey;
  border-width: 3px;
  margin-top: 20px;
  padding: 2.5px;
  background-color: var(--star-command-blue);
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.IdCard h4 {
  padding-top: 10px;
}

.top_sect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.new-person-form {
  margin: 5px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue-green);
  padding: 10px;
}

.new-child,
.new-spouse,
.upload-dialog,
.edit-family-member,
.settings-dialogue {
  align-self: center;
  position: absolute;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--star-command-blue);
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.parent_details {
  margin: 5px;
  float: left;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue-green);
  padding: 10px;
  flex-grow: 1;
}

.mid_sect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.family-member-photo {
  width: 240px;
  height: 240px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  /* display: inline-block; */
  background-color: var(--blue-green);
  margin: 5px;
  flex-shrink: 0;
  overflow: hidden;
}

.family-member-photo img {
  object-fit: cover;
  width: 240px;
  height: 240px;
  margin: 0px;
}

.display-upload-form {
  position: absolute;
  width: 240px;
  height: 240px;
}

.person_details {
  margin: 5px;
  float: left;

  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue-green);
  padding-left: 10px;
  flex-grow: 1;
  flex-basis: 300px;
}

.uuid_form {
  margin: 5px;
  float: left;

  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue-green);
  padding: 20px;
  flex-grow: 1;
  flex-basis: 300px;
}

.btm_sect {
  display: flex;
  flex-wrap: wrap;
}

.married_box {
  margin: 5px;
  border: grey;
  border-width: 3px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

  background-color: var(--blue-green);

  flex-grow: 1;
}

.nav-btn {
  font-size: 1.25rem;
  border-style: none;
  background-color: var(--star-command-blue);
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.nav-btn:focus {
  border-style: none;
  outline: none;
}

.nav-btn:active {
  transform: translateY(4px);
  border-style: none;
  outline: none;
}

.children_box {
  margin: 5px;
  border: grey;
  border-width: 3px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue-green);
  flex-grow: 1;
}

.plus_button {
  color: var(--blue3);
  background-color: yellowgreen;
  text-align: center;
  width: 35px;
  padding: 4px;

  margin-top: 5px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 1px 1px 3px hsl(0, 0%, 20%);
  transform: translate(0, -5px);
  float: right;
}

.plus_button:focus {
  border-style: none;
  outline: none;
}

.plus_button:active {
  transform: translateY(2px);
  border-style: none;
  outline: none;
}

.edit-delete {
  display: inline;
}
.edit-delete button {
  background-color: Transparent;
  border: none;
  outline: none;
}

.edit-delete button:hover {
  color: grey;
}

.edit-delete i {
  pointer-events: none;
}

.settings-button {
  background-color: Transparent;
  border: none;
  outline: none;
}

.settings-button:hover {
  color: grey;
}

.fa-edit {
  margin-right: 5px;
  margin-left: 10px;
}

.fa-edit:hover,
.fa-trash-alt:hover {
  color: grey;
}
