.IdCard {
  position: relative;
  /* top: 50%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: left;
  border: grey;
  border-width: 3px;
  margin-top: 20px;
  padding: 2.5px;
  background-color: var(--blue2);
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.IdCard h4 {
  padding-top: 10px;
}

.top_sect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.parent_details {
  margin: 5px;
  float: left;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue5);
  padding: 10px;
  flex-grow: 1;
}

.mid_sect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.family_image {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  /* display: inline-block; */

  margin: 5px;
  flex-shrink: 0;
}

.family_image img {
  border-radius: 20px;
}

.person_details {
  /* display: inline-block; */
  margin: 5px;
  float: left;

  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue5);
  padding-left: 10px;
  flex-grow: 1;
  flex-basis: 300px;
}

.uuid_form {
  /* display: inline-block; */
  margin: 5px;
  float: left;

  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue5);
  padding: 20px;
  flex-grow: 1;
  flex-basis: 300px;
}

.btm_sect {
  display: flex;
  flex-wrap: wrap;
}

.married_box {
  margin: 5px;
  border: grey;
  border-width: 3px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

  background-color: var(--blue5);

  flex-grow: 1;
}

.person_box {
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: #bcd3f2;
  margin-bottom: 15px;
  margin-right: 15px;
  display: inline-block;
}

.parents-btn {
  font-size: 1.25rem;
  border-style: none;
  background-color: #bcd3f2;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.parents-btn:focus {
  border-style: none;
  outline: none;
}

.parents-btn:active {
  transform: translateY(4px);
  border-style: none;
  outline: none;
}

.children_box {
  margin: 5px;
  border: grey;
  border-width: 3px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--blue5);
  flex-grow: 1;
}

/* .married_box:last-child {
  margin-bottom: 0px;
} */

.plus_button {
  color: var(--blue3);
  background-color: yellowgreen;
  text-align: center;
  width: 35px;
  padding: 4px;
  /* border-style: solid;
  border-color: grey; */
  margin-top: 5px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 1px 1px 3px #333333;
  transform: translate(0, -5px);
  float: right;
}

.fa-edit {
  float: right;
  transform: translateY(5px);
}

.fa-edit:hover {
  color: grey;
}
